# this file is solely for reference, please create a .env file and copy the content of this file into it. Then fill in the values for each variable.
HF_TOKEN=your_token_here

TAVILY_API_KEY=your_key_here

GITHUB_TOKEN=your_token_here