@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #f8fafc;
  color: #111827;
}

* {
  box-sizing: border-box;
}